*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: Roboto;
	font-size: 16px;
	margin: 0;
}
img {
	height: 232px;
	object-fit: cover;
	max-width: 100%;
}

h1,
h2,
h3 {
	font-style: normal;
	font-size: 1.5rem;
	font-weight: normal;
}
h1{display: inline-block;}
p {
	font-size: 1.125rem;
	padding-left: 0.7em;
}

.text1 {
	/* 10px */
	margin-left: 0.625em;
}

.text2 {
	/* 18px */
	margin-left: 1.125em;
	/* 28px */
	/* margin-top: 1.75em; */
	/* 35px */
	/* margin-bottom: 2.1875em; */
}

section {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

ul li {
	list-style: none;
	margin-top: 14px;
}

li:first-child {
	margin-bottom: 15px;
}

li:last-child {
	margin-bottom: 11px;
}
ul{
	padding: 0;
}
