*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: Roboto;
	font-size: 16px;
}
/* section img,p {
} */
img {
	height: 232px;
	width: 100%;
	padding: 0.7em;
}
span {
	font-style: normal;
	font-size: 1.5rem;
	font-weight: normal;
	/* No estoy seguro si es correcto 1.75rem o mejor 28px */
	line-height: 1.75em;
}
p {
	padding-left: 0.7em;
	font-size: 1.125rem;
}
.text1 {
	/* 10px */
	margin-left: 0.625em;
	/* margin-bottom: 2.1875em; */
	/* margin-top: 1.75em; */
}
.text2 {
	/* 18px */
	margin-left: 1.125em;
	/* 28px */
	/* margin-top: 1.75em; */
	/* 35px */
	/* margin-bottom: 2.1875em; */
}
